.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.55);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:999;
}

.modal{
  width:520px;
  background:#fff;
  border-radius:12px;
  padding:30px;
  box-shadow:0 10px 30px rgba(0,0,0,.25);

  display:flex;
  flex-direction:column;
  gap:16px;
}

.modal h2{
  margin:0;
  text-align:center;
  font-size:26px;
}

.modal input,
.modal textarea{

  width:100%;
  padding:12px;

  border:1px solid #ddd;
  border-radius:8px;

  font-size:15px;
  box-sizing:border-box;
}

.modal textarea{
  resize:none;
  height:90px;
}

.modal label{

  display:flex;
  align-items:center;
  gap:10px;

  font-weight:600;
}

.modal-actions{

  display:flex;
  justify-content:flex-end;
  gap:10px;
}

.modal-actions button{

  padding:12px 22px;

  border:none;
  border-radius:8px;

  cursor:pointer;

  font-size:15px;
}

.modal-actions button:first-child{

  background:#ddd;

}

.modal-actions button:last-child{

  background:#2563eb;
  color:white;

}