.sidebar {
  width: 275px;
  min-width: 275px;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: #171b20;
  color: white;

  transition: 0.25s;

  border-right: 1px solid #24282d;
}

.sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}

.sidebar-logo {
  height: 180px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #292d32;
}

.sidebar-logo h2 {
  margin: 0;

  font-size: 42px;
  font-weight: 700;

  color: #ffffff;
}

.sidebar-logo h2 span {
  color: #d62f2f;
}

.sidebar-logo small {
  margin-top: 6px;

  font-size: 16px;

  color: #ffffff;
}

.sidebar-nav {
  padding: 15px 12px;
}

.sidebar-nav a {
  display: flex;
  align-items: center;

  gap: 16px;

  height: 50px;

  padding: 0 14px;

  margin-bottom: 4px;

  border-radius: 9px;

  text-decoration: none;

  color: #ffffff;

  font-size: 15px;

  transition: 0.2s;
}

.sidebar-nav a:hover {
  background: #252a30;
}

.sidebar-nav a.active {
  background: #d62f2f;
}

.sidebar-nav .icon {
  width: 24px;
  min-width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 19px;
}

.sidebar.collapsed .sidebar-nav a {
  justify-content: center;
  padding: 0;
}

.sidebar-bottom {
  margin-top: auto;

  padding: 20px 12px 25px;
}

.logout-button {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;

  gap: 16px;

  padding: 0 14px;

  border: none;

  background: transparent;

  color: white;

  font-size: 15px;

  cursor: pointer;

  border-radius: 9px;

  text-align: left;
}

.logout-button:hover {
  background: #252a30;
}

.logout-button .icon {
  width: 24px;

  font-size: 20px;
}

.sidebar.collapsed .logout-button {
  justify-content: center;
  padding: 0;
}

/* =========================
   SIDEBAR COLLAPSED
========================= */

.sidebar.collapsed .sidebar-logo {
  height: 120px;

  padding: 0;
}

.sidebar.collapsed .sidebar-logo h2 {
  font-size: 0;
}

.sidebar.collapsed .sidebar-logo h2::after {
  content: "D";

  font-size: 30px;
  font-weight: 700;

  color: #ffffff;
}

.sidebar.collapsed .sidebar-logo h2::first-letter {
  color: #ffffff;
}

.sidebar.collapsed .sidebar-nav {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar.collapsed .sidebar-nav a {
  width: 60px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;

  padding: 0;
}

.sidebar.collapsed .sidebar-bottom {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar.collapsed .logout-button {
  width: 60px;

  margin: 0 auto;

  justify-content: center;

  padding: 0;
}